[submodule "Source/ThirdParty/inipp"]
	path = Source/ThirdParty/inipp
	url = https://github.com/mcmtroffaes/inipp
[submodule "Source/ThirdParty/ModUtils"]
	path = Source/ThirdParty/ModUtils
	url = https://github.com/CookiePLMonster/ModUtils
